@using  System.Globalization
@inject IJSRuntime JSRuntime
@inject NavigationManager Nav

@* from https://phrase.com/blog/posts/blazor-webassembly-i18n/ *@
<div class="col-md-10">
    <RadzenDropDown @bind-Value="Culture"
                    TValue="CultureInfo"
                    Data="@supportedLanguages"
                    Style="width: 100%;"/>
</div>

@code
{
    CultureInfo[] supportedLanguages = {
        new CultureInfo("ru-RU"),
        new CultureInfo("en-US")
    };

    CultureInfo Culture
    {
        get => CultureInfo.CurrentCulture;
        set
        {
            if (CultureInfo.CurrentCulture != value)
            {
                var js = (IJSInProcessRuntime)JSRuntime;
                js.InvokeVoid("appCulture.set", value.Name);

                Nav.NavigateTo(Nav.Uri, forceLoad: true);
            }
        }
    }
}